{% extends 'base.html' %}
{% load django_bootstrap5 %}

{% block title %}Password Reset｜Private Diary{% endblock %}

{% block contents %}
<div class="container">
    <div class="row">
        <div class="my-div-style">
            <h1>
                {% if token_fail %}
                    不正トークン
                {% else %}
                    password reset
                {% endif %}
            </h1>

            {% if token_fail %}
            {% url 'account_reset_password' as password_reset_url %}
            <p>このパスワードリンク用は無効になっています。<a href="{{ password_reset_url }}">パッスワード再申請</a></p>
            {% else %}
            {% if form %}
            <form method="post" action="{% action_url' %}">
                {% csrf_token %}

                <div class="mb-4 col-4">
                    {% bootstrap_form form %}
                </div>

                <button class="btn btn-primary" type="submit">Change</button>
            </form>
            {% else %}
            <p>パスワードは変更されています。</p>
            {% endif %}
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}